node_modules
# Keep environment variables out of version control
.env
.env.local
./package-lock.json

/lib/generated/prisma
/node_modules
/.next
/.idea
/.DS_Store
/contracts/.DS_Store
/cache
/out
/broadcast