[profile.default]
solc_version = "0.8.24"
optimizer = true
optimizer_runs = 200
src = "contracts"
out = "out"
libs = ["lib"]
test = "test"
cache_path = "cache"
fs_permissions = [{ access = "read-write", path = "./" }]

remappings = [
  "openzeppelin-contracts/=lib/openzeppelin-contracts/"
]
